/* ------------ tablet ------------ */
@media(max-width : 1920px){

}

@media(max-width : 1360px){

}

@media(max-width : 1280px){

}

@media(max-width : 1024px){

}

@media(max-width : 800px){

}

@media(max-width : 768px){

}

@media(max-width : 600px){

}

/* ------------ mobile ------------ */
@media(max-width : 568px){

}

@media(max-width : 480px){

}

@media(max-width : 320px){

}
