@font-face {
  font-family: 'Cairo';
  src: url("../fonts/Cairo-SemiBold.ttf"); }
@font-face {
  font-family: 'Cairo-Bold';
  src: url("../fonts/Cairo-Bold.ttf"); }
a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #27a9e1; }
  a:focus {
    text-decoration: none;
    color: #27a9e1; }
  a:visited {
    text-decoration: none;
    color: #27a9e1; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

body {
  font-family: "Cairo"; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 0;
  outline-offset: 0; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: transparent; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 4px solid #ccc;
  z-index: 99999999999999999999; }
  .navbar-nav > li > .dropdown-menu.items {
    min-width: 500px;
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
    background: #fff; }
    .navbar-nav > li > .dropdown-menu.items a {
      color: #000; }
      .navbar-nav > li > .dropdown-menu.items a:hover p {
        color: #f9b5c7; }
    .navbar-nav > li > .dropdown-menu.items .allItems {
      max-height: 300px;
      overflow-y: scroll; }
    .navbar-nav > li > .dropdown-menu.items img {
      margin-left: 1em; }
    .navbar-nav > li > .dropdown-menu.items h4 {
      text-align: center !important;
      margin-top: 1em; }
    .navbar-nav > li > .dropdown-menu.items .col-xs-12 {
      margin-bottom: 1em;
      text-align: right; }
      .navbar-nav > li > .dropdown-menu.items .col-xs-12 h4 {
        text-align: right !important;
        margin-top: 0; }
    .navbar-nav > li > .dropdown-menu.items .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      text-transform: uppercase;
      color: #000; }
      .navbar-nav > li > .dropdown-menu.items .btn:hover {
        background: #000; }
  .navbar-nav > li > .dropdown-menu h3 {
    margin-top: 0;
    margin-bottom: 2em; }
  .navbar-nav > li > .dropdown-menu li {
    padding: 5px 15px;
    text-transform: capitalize; }
    .navbar-nav > li > .dropdown-menu li span {
      background: #f9b5c7;
      color: #000;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px; }
    .navbar-nav > li > .dropdown-menu li b {
      font-family: "Cairo-Bold"; }
    .navbar-nav > li > .dropdown-menu li a {
      padding: 0; }
      .navbar-nav > li > .dropdown-menu li a:hover {
        color: #f9b5c7;
        text-decoration: none;
        background-color: transparent; }
      .navbar-nav > li > .dropdown-menu li a:focus {
        color: #f9b5c7;
        text-decoration: none;
        background-color: transparent; }

.menu .col-xs-12 {
  padding: 0; }
.menu .navbar, .menu .menu, .menu .category {
  border-radius: 0;
  margin: 0; }
  .menu .navbar li.active a, .menu .menu li.active a, .menu .category li.active a {
    color: #f4f4f4; }
  .menu .navbar .navbar-toggle, .menu .menu .navbar-toggle, .menu .category .navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
  .menu .navbar .navbar-brand, .menu .menu .navbar-brand, .menu .category .navbar-brand {
    display: none;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff; }
  .menu .navbar .nav > li > a, .menu .menu .nav > li > a, .menu .category .nav > li > a {
    color: #126488;
    text-transform: uppercase; }
    .menu .navbar .nav > li > a:hover, .menu .menu .nav > li > a:hover, .menu .category .nav > li > a:hover {
      color: #f4f4f4;
      background: transparent; }
.menu .menu {
  background-color: #27a9e1; }
  .menu .menu .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #27a9e1; }
.menu .category {
  background-color: #f1b46f; }
  .menu .category .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #f1b46f; }
  .menu .category form .input-group {
    border-bottom: 1px solid #126488; }
  .menu .category form .form-control {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none; }
  .menu .category form .btn {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none; }
.menu .logo {
  text-align: center;
  background: #fff;
  box-shadow: 1px -3px 3px 0px #999;
  z-index: 99999;
  position: relative;
  min-height: 107px;
  display: flex;
  align-items: center; }
  .menu .logo img {
    width: 35%;
    margin: auto; }

.mainCategory {
  margin-top: 3em; }
  .mainCategory .content {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1em;
    overflow: hidden; }
  .mainCategory .offers .col-md-4 {
    margin: 1em 0; }
  .mainCategory .offers .col-md-4:nth-child(2) {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2; }
  .mainCategory .col-md-4 {
    padding: 0; }
  .mainCategory .col-md-6 {
    padding: 0; }
  .mainCategory .txt1 {
    width: 40%;
    position: absolute;
    right: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999; }
  .mainCategory .txt2 {
    width: 100%;
    position: absolute;
    left: 0em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999; }
  .mainCategory .txt3 {
    width: 40%;
    position: absolute;
    left: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999; }
  .mainCategory .txt4 {
    width: 100%;
    position: absolute;
    right: 0em;
    text-transform: uppercase;
    top: 2em;
    z-index: 9999999; }
    .mainCategory .txt4 h1 {
      color: #126488; }
  .mainCategory .txt5 {
    width: 40%;
    position: absolute;
    right: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999; }
  .mainCategory .imgContent {
    position: relative;
    overflow: hidden; }
    .mainCategory .imgContent img {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 100%; }
    .mainCategory .imgContent:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .mainCategory .imgContent h4 {
      position: relative;
      overflow: hidden;
      padding-bottom: 15px;
      display: inline-block;
      color: #000; }
      .mainCategory .imgContent h4:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 30%;
        height: 2px;
        width: 40%;
        background: #000; }
  .mainCategory h1 {
    margin: 0;
    color: #fff;
    font-family: "Cairo-Bold"; }
  .mainCategory h3 {
    color: #000;
    text-transform: uppercase;
    font-family: "Cairo-Bold";
    font-size: 20px; }
    .mainCategory h3:hover {
      color: #27a9e1; }
  .mainCategory p {
    color: #888; }

.deal {
  margin-bottom: 2em;
  margin-top: 3em; }
  .deal h1 {
    font-family: "Cairo-Bold";
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #e2e2e2; }
    .deal h1:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 40%;
      height: 2px;
      width: 20%;
      background: #f1b46f; }
  .deal .product {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out; }
    .deal .product .productImg {
      width: 100%;
      height: 300px;
      background: #f4f4f4;
      color: #000;
      overflow: hidden;
      position: relative;
      padding-top: 3em; }
      .deal .product .productImg img {
        display: block;
        margin: auto;
        max-width: 12em;
        min-height: 12em;
        max-height: 12em; }
      .deal .product .productImg p {
        font-style: italic;
        font-family: "Cairo-Bold"; }
      .deal .product .productImg .salary {
        background: #f1b46f;
        height: 6em;
        width: 6em;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-clip-path: polygon(0 0, 0 100em, 6em 0);
        clip-path: polygon(0 0, 0 6em, 6em 0); }
        .deal .product .productImg .salary p {
          font-family: "Cairo-Bold";
          color: #fff;
          width: 50%;
          margin-top: 8%;
          font-style: normal;
          float: left; }
    .deal .product h3 {
      font-family: "Cairo-Bold";
      color: #000;
      text-transform: capitalize; }
    .deal .product del {
      color: #ddd;
      font-weight: bold;
      margin-left: 1em;
      font-family: "Cairo-Bold";
      font-size: 20px;
      text-transform: uppercase; }
    .deal .product span {
      color: #27a9e1;
      font-weight: bold;
      font-family: "Cairo-Bold";
      font-size: 20px;
      text-transform: uppercase; }
    .deal .product:hover {
      box-shadow: 0px 5px 15px -2px #999; }
    .deal .product:hover h3 {
      color: #f1b46f; }
  .deal .owl-carousel .owl-next {
    position: absolute;
    right: -4%;
    top: 37%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 0; }
    .deal .owl-carousel .owl-next i {
      margin: auto; }
    .deal .owl-carousel .owl-next:hover {
      background: #000; }
  .deal .owl-carousel .owl-prev {
    position: absolute;
    left: -4%;
    top: 37%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 0; }
    .deal .owl-carousel .owl-prev i {
      margin: auto; }
    .deal .owl-carousel .owl-prev:hover {
      background: #000; }
  .deal.brandDetails .result {
    border: 2px solid #e4e4e4;
    padding: 2em; }
    .deal.brandDetails .result h4 {
      text-transform: uppercase; }
    .deal.brandDetails .result .resultCategory {
      margin-top: 2em;
      text-align: right; }
      .deal.brandDetails .result .resultCategory h5 {
        font-weight: bold;
        font-size: 1.2em;
        text-transform: capitalize; }
      .deal.brandDetails .result .resultCategory a p {
        color: #999; }
      .deal.brandDetails .result .resultCategory a:hover p {
        color: #27a9e1; }
  .deal.brandDetails .product {
    margin-left: 0;
    margin-right: 0; }
  .deal.brandDetails .content {
    margin-top: 2em; }
    .deal.brandDetails .content .pagination > li > a, .deal.brandDetails .content .pagination > li > span {
      position: relative;
      float: right;
      padding: 6px 12px;
      margin-right: 5px !important;
      line-height: 1.42857143;
      color: #428bca;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 0;
      color: #e2e2e2; }
    .deal.brandDetails .content .pagination > .active > a, .deal.brandDetails .content .pagination > .active > span, .deal.brandDetails .content .pagination > .active > a:hover, .deal.brandDetails .content .pagination > .active > span:hover, .deal.brandDetails .content .pagination > .active > a:focus, .deal.brandDetails .content .pagination > .active > span:focus {
      z-index: 2;
      color: #fff;
      cursor: default;
      background-color: #999;
      border-color: #999; }
  .deal.brandDetails .text-right h3 {
    margin-top: 10px; }
  .deal.brandDetails .text-right p {
    color: #999; }

.brands {
  margin-bottom: 2em;
  margin-top: 3em; }
  .brands .mobile_select {
    display: none; }
  .brands .pc_select {
    border-bottom: 1px solid #e2e2e2; }
  .brands #portfolio {
    margin: 1rem 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem; }
  .brands .tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden; }
    .brands .tile .overlay {
      background: #f1b46f;
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex !important;
      align-items: center;
      bottom: -100%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .brands .tile .overlay p {
        margin: auto;
        font-size: 1.5em; }
    .brands .tile:hover .overlay {
      bottom: 0; }
  .brands .scale-anm {
    transform: scale(1); }
  .brands .tile img {
    max-width: 100%;
    width: 100%;
    height: auto; }
  .brands .btn {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid transparent; }
  .brands .btn:hover {
    text-decoration: none;
    color: #27a9e1;
    border-bottom: 2px solid #27a9e1;
    box-shadow: none; }
  .brands .btn.active {
    outline: none;
    color: #27a9e1;
    border-bottom: 2px solid #27a9e1;
    box-shadow: none; }
  .brands .btn:focus {
    outline: none;
    color: #27a9e1;
    border-bottom: 2px solid #27a9e1;
    box-shadow: none; }
  .brands ::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .brands h1 {
    font-family: "Cairo-Bold";
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #e2e2e2; }
    .brands h1:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 40%;
      height: 2px;
      width: 20%;
      background: #f1b46f; }
  .brands .btn-warning {
    color: #f1b46f;
    border: none;
    border-bottom: 2px solid #f1b46f;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5em; }

.productDetails {
  margin-bottom: 5em;
  margin-top: 3em; }
  .productDetails .detail-caption img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
    background: #f4f4f4; }
  .productDetails .allPic {
    margin-top: 2em; }
    .productDetails .allPic img {
      width: 100%;
      height: 80px;
      margin-bottom: 1em;
      opacity: 0.5; }
      .productDetails .allPic img.active {
        border: 2px solid #f1b46f;
        opacity: 1; }
  .productDetails h1 {
    margin-top: 0;
    text-transform: capitalize; }
  .productDetails h4 {
    color: #999;
    text-transform: uppercase; }
  .productDetails h2 span {
    color: #27a9e1;
    margin-left: 1em; }
  .productDetails h2 del {
    color: #999;
    font-size: 18px;
    margin-left: 1em; }
  .productDetails h2 b {
    background: #f1b46f;
    padding: 2px 5px;
    color: #fff;
    font-size: 16px; }
  .productDetails p b {
    font-family: "Cairo-Bold"; }
  .productDetails select {
    margin-bottom: 1em; }
    .productDetails select.form-control {
      border-radius: 0;
      padding: 0 10px; }
  .productDetails .about {
    position: relative;
    top: 5px; }
  .productDetails .input-group-addon:first-child {
    border-left: 0;
    background: transparent;
    border: none;
    text-transform: capitalize; }
  .productDetails .input-group .form-control:last-child {
    border-radius: 0; }
  .productDetails .btn {
    border-radius: 0; }
  .productDetails .btn-warning {
    background: #f1b46f;
    border-color: #f1b46f;
    margin-top: 1em;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase; }
    .productDetails .btn-warning:hover {
      background: #27a9e1;
      border-color: #27a9e1; }

.error {
  margin-top: 3em; }
  .error h1 {
    color: #f1b46f;
    font-family: "Cairo-Bold";
    font-size: 10em;
    margin-bottom: 0; }
  .error h2 {
    color: #e45fcd;
    font-family: "Cairo-Bold";
    text-transform: uppercase;
    margin-top: 0; }
  .error hr {
    width: 15%; }
  .error p {
    text-transform: capitalize; }
  .error .btn {
    background: #000;
    border-radius: 0;
    color: #fff;
    border-color: #000;
    margin-top: 2em;
    text-transform: uppercase; }
    .error .btn:hover {
      background: #f1b46f;
      border-radius: 0;
      color: #fff;
      border-color: #f1b46f; }

.about {
  margin-top: 3em; }
  .about .container .row:last-child {
    margin-top: 3em; }
  .about h3 {
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Cairo-Bold"; }
    .about h3:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      background: #000;
      right: 0;
      bottom: 0; }
  .about h5 {
    line-height: 1.5em;
    font-weight: bold;
    font-family: "Cairo-Bold";
    margin-top: 0; }
  .about .details {
    padding: 2em;
    border: 3px solid #e2e2e2; }

.contact {
  margin-top: 3em; }
  .contact .details {
    padding: 2em;
    border: 1px solid #e2e2e2;
    margin-bottom: 2em; }
    .contact .details h4 {
      text-align: center;
      margin-bottom: 1em; }
  .contact h1 {
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: "Cairo-Bold"; }
    .contact h1:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 40%;
      background: #000;
      right: 30%;
      bottom: 0; }
  .contact label {
    text-transform: uppercase; }
  .contact input {
    height: 40px; }
  .contact .form-control {
    border-radius: 0;
    border-color: #e2e2e2;
    box-shadow: none; }
  .contact .btn {
    background: #000;
    border-radius: 0;
    color: #fff;
    border-color: #000;
    margin-top: 0em;
    text-transform: uppercase;
    padding: 10px 40px; }
    .contact .btn:hover {
      background: #f1b46f;
      border-radius: 0;
      color: #fff;
      border-color: #f1b46f; }

.confirm {
  margin-top: 3em; }
  .confirm h1 {
    font-family: "Cairo-Bold";
    font-size: 2em;
    text-transform: uppercase; }
  .confirm .content {
    background: #eff5f9;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 2em; }
    .confirm .content h4 {
      font-family: "Cairo-Bold"; }
    .confirm .content .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold"; }
      .confirm .content .btn:hover {
        background: #000;
        color: #fff !important; }

.cart {
  margin-top: 3em; }
  .cart .form-control {
    text-transform: capitalize; }
  .cart h1 {
    font-family: "Cairo-Bold";
    font-size: 2em;
    text-transform: uppercase; }
  .cart .content {
    background: #f4f4f4;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden; }
    .cart .content.cart_table {
      padding: 0 0 2em 0 !important; }
      .cart .content.cart_table p {
        text-align: center; }
        .cart .content.cart_table p.payTitle {
          margin-right: 0 !important; }
      .cart .content.cart_table .row p {
        text-align: right !important; }
      .cart .content.cart_table .row .col-md-8 {
        padding-right: 15px; }
      .cart .content.cart_table table {
        width: 100%;
        text-align: center; }
        .cart .content.cart_table table img {
          width: 100px;
          margin-bottom: 1em; }
        .cart .content.cart_table table thead th {
          text-transform: uppercase;
          font-family: "Cairo-Bold";
          border: 3px solid #fff;
          border-top: none;
          padding: 1em;
          background: #e9e9e9;
          text-align: center; }
          .cart .content.cart_table table thead th:first-child {
            border-right: none; }
          .cart .content.cart_table table thead th:last-child {
            border-left: none; }
        .cart .content.cart_table table tbody td {
          text-transform: uppercase;
          font-family: "Cairo-Bold";
          border: 3px solid #fff;
          padding: 1em; }
          .cart .content.cart_table table tbody td:first-child {
            border-right: none; }
          .cart .content.cart_table table tbody td:last-child {
            border-left: none; }
          .cart .content.cart_table table tbody td .productType {
            font-family: "Cairo";
            text-transform: capitalize;
            color: #999; }
          .cart .content.cart_table table tbody td[colspan="2"] {
            border: none;
            padding: 0.5em 1em; }
            .cart .content.cart_table table tbody td[colspan="2"] p {
              text-align: right !important; }
    .cart .content .statistics {
      margin-top: 1em;
      border-bottom: 2px solid #000;
      margin-bottom: 1em; }
      .cart .content .statistics .row .col-md-8 {
        padding-right: 15px; }
      .cart .content .statistics .row p {
        text-align: right !important;
        margin-bottom: 5px; }
    .cart .content .form-group {
      text-align: right; }
      .cart .content .form-group .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none; }
      .cart .content .form-group label {
        font-size: 10px; }
    .cart .content .col-md-8 {
      padding-right: 0; }
    .cart .content p {
      text-align: right;
      font-family: "Cairo-Bold";
      margin-bottom: 0; }
      .cart .content p.title {
        font-family: "Cairo";
        text-transform: capitalize;
        color: #999;
        margin-bottom: 1em; }
      .cart .content p.payTitle {
        font-family: "Cairo";
        text-transform: capitalize;
        color: #999;
        margin-top: 0.5em;
        margin-bottom: 1em;
        margin-right: 2em;
        text-align: right; }
      .cart .content p.txt {
        font-style: italic;
        margin-bottom: 10px; }
    .cart .content .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      float: left; }
      .cart .content .btn:hover {
        background: #000; }
    .cart .content .btn-default {
      margin-left: 2em; }
    .cart .content .btn-success {
      background: #99c98a;
      border: 2px solid #99c98a;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      float: left; }
      .cart .content .btn-success:hover {
        background: #79aa6a;
        border: 2px solid #79aa6a;
        color: #fff !important; }
    .cart .content input[type=number]::-webkit-inner-spin-button,
    .cart .content input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.register, .information {
  margin-top: 3em; }
  .register .form-control, .information .form-control {
    text-transform: capitalize; }
  .register h1, .information h1 {
    font-family: "Cairo-Bold";
    font-size: 2em;
    text-transform: uppercase; }
  .register .content, .information .content {
    background: #f4f4f4;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden; }
    .register .content .checkbox label, .information .content .checkbox label {
      font-family: "Cairo-Bold" !important; }
    .register .content .checkbox p, .information .content .checkbox p {
      font-family: "Cairo";
      font-size: 12px;
      color: #999;
      margin-right: 2em; }
    .register .content .form-group, .information .content .form-group {
      text-align: right; }
      .register .content .form-group .form-control, .information .content .form-group .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none; }
      .register .content .form-group label, .information .content .form-group label {
        font-size: 10px; }
    .register .content p, .information .content p {
      text-align: right;
      font-family: "Cairo-Bold";
      margin-bottom: 1em; }
    .register .content .btn, .information .content .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      float: left; }
      .register .content .btn:hover, .information .content .btn:hover {
        background: #000; }

.login {
  margin-top: 3em; }
  .login .form-control {
    text-transform: capitalize; }
  .login h1 {
    font-family: "Cairo-Bold";
    font-size: 2em;
    text-transform: uppercase; }
  .login .content {
    text-align: center;
    background: #f4f4f4;
    padding: 2em 4em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    min-height: 410px; }
    .login .content a {
      color: #000; }
      .login .content a:hover {
        color: #27a9e1; }
      .login .content a p {
        border-bottom: 1px solid #000;
        display: inline-block; }
    .login .content .checkbox label {
      font-family: "Cairo-Bold" !important; }
    .login .content .checkbox p {
      font-family: "Cairo";
      font-size: 12px;
      color: #999;
      margin-right: 2em; }
    .login .content .form-group {
      text-align: right; }
      .login .content .form-group .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none; }
      .login .content .form-group label {
        font-size: 10px; }
    .login .content .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      text-transform: uppercase; }
      .login .content .btn:hover {
        background: #000; }

.account {
  margin-top: 3em;
  text-align: center; }
  .account .navbar-default {
    background: transparent;
    border: none;
    margin-top: 2em; }
  .account .navbar .navbar-nav, .account .menu .menu .navbar-nav, .menu .account .menu .navbar-nav, .account .menu .category .navbar-nav, .menu .account .category .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .account .navbar .navbar-collapse, .account .menu .menu .navbar-collapse, .menu .account .menu .navbar-collapse, .account .menu .category .navbar-collapse, .menu .account .category .navbar-collapse {
    text-align: center; }
  .account .navbar-default .navbar-nav > .active > a, .account .navbar-default .navbar-nav > .active > a:hover, .account .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
    border-top: 3px solid #000; }
  .account .navbar-default a {
    color: #000;
    background-color: transparent;
    border-top: 3px solid #fff;
    font-family: "Cairo-Bold";
    text-transform: uppercase; }
  .account .form-control {
    text-transform: capitalize; }
  .account h1 {
    font-family: "Cairo-Bold";
    font-size: 1.8em;
    text-transform: uppercase; }
    .account h1.title {
      margin-bottom: 2em; }
  .account h3 {
    font-family: "Cairo-Bold";
    text-transform: uppercase; }
  .account h4 {
    font-family: "Cairo";
    text-transform: capitalize;
    margin-bottom: 2em; }
  .account h5 {
    font-family: "Cairo-Bold";
    text-transform: uppercase;
    margin-bottom: 0; }
  .account .row h5 {
    margin-top: 0; }
  .account b {
    font-family: "Cairo-Bold";
    text-transform: uppercase; }
  .account .content {
    text-align: right;
    background: #f4f4f4;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    min-height: 410px; }
    .account .content a {
      color: #000; }
      .account .content a:hover {
        color: #27a9e1; }
    .account .content .checkbox label {
      font-family: "Cairo-Bold" !important; }
    .account .content .checkbox p {
      font-family: "Cairo";
      font-size: 12px;
      color: #999;
      margin-right: 2em; }
    .account .content .form-group {
      text-align: right; }
      .account .content .form-group .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none; }
      .account .content .form-group label {
        font-size: 10px; }
    .account .content .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: "Cairo-Bold";
      text-transform: uppercase; }
      .account .content .btn:hover {
        background: #000; }

footer {
  margin-top: 5em; }
  footer .logo-footer {
    text-align: center;
    margin-bottom: 2em; }
  footer .content {
    padding: 3em 0;
    background: #27a9e1;
    color: #fff;
    position: relative;
    overflow: hidden; }
    footer .content .arrowTop i {
      background: #1b86b4;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #27a9e1;
      font-size: 1.5em;
      position: absolute;
      left: 7em;
      top: 0; }
      footer .content .arrowTop i:hover {
        background: #f1b46f; }
    footer .content .text-center img {
      margin-bottom: 2em; }
    footer .content nav a {
      color: #fff; }
      footer .content nav a:hover {
        color: #f1b46f; }
    footer .content .input-group-addon:first-child {
      border-left: 0;
      background: #d4eef9;
      border: none; }
    footer .content .input-group .form-control {
      position: relative;
      z-index: 2;
      float: right;
      width: 100%;
      margin-bottom: 0;
      background: #d4eef9;
      border: none;
      box-shadow: none; }
    footer .content .input-group-btn > .btn {
      position: relative;
      background: #f1b46f;
      border: none;
      box-shadow: none;
      color: #fff;
      margin: 0;
      height: 34px; }
      footer .content .input-group-btn > .btn:hover {
        background: #1b86b4; }
  footer .copyright {
    background: #1b86b4;
    padding: 0.8em; }
    footer .copyright p {
      margin: 0;
      color: #fff;
      text-transform: uppercase; }

@media (max-width: 768px) {
  .dropdown-menu {
    min-width: 160px !important;
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
    background: #fff; }

  .mobile_select {
    display: block !important; }
    .mobile_select .btn {
      width: 100%;
      border: none;
      border-bottom: none;
      background: #27a9e1;
      color: #fff;
      border-radius: 0; }
      .mobile_select .btn:hover {
        background: #f1b46f;
        color: #fff;
        border: none; }
      .mobile_select .btn:focus {
        background: #f1b46f;
        color: #fff;
        border: none; }
    .mobile_select .dropdown-menu {
      border-radius: 0;
      margin-top: 40px; }
      .mobile_select .dropdown-menu .btn {
        width: 25% !important;
        float: right;
        border: none;
        border-bottom: none;
        background: #fff;
        border-radius: 0;
        color: #000; }
        .mobile_select .dropdown-menu .btn:hover {
          color: #27a9e1; }

  .pc_select {
    display: none; }

  .logo img {
    width: 15% !important;
    margin: auto; }

  .navbar-brand {
    display: block !important;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase; }

  #portfolio {
    margin: 6rem 0 !important;
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem; }

  .productDetails .form-control {
    margin-top: 10px; }
  .productDetails .btn-default {
    margin-top: 1em; }
  .productDetails .about {
    position: relative;
    top: -5px; }

  footer .col-xs-12 {
    margin-bottom: 3em;
    text-align: right; }
    footer .col-xs-12:last-child {
      margin-bottom: 0; }

  footer .content .arrowTop i {
    background: #1b86b4;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #27a9e1;
    font-size: 1.5em;
    position: absolute;
    left: 1em;
    top: 0; } }
@media (max-width: 460px) {
  .mainCategory .txt1 {
    width: 50%;
    position: absolute;
    left: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999; }

  #portfolio {
    margin: 1rem 0;
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem; } }
.checkbox {
  text-align: right; }
  .checkbox label {
    padding-right: 0; }

.radio {
  text-align: right; }
  .radio label {
    padding-right: 0;
    font-family: "Cairo-Bold"; }

.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both; }

h4 {
  text-align: right;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Cairo-Bold"; }
  h4 span {
    background: #f4b5c8;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%; }

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 0;
  width: 1.3em;
  height: 1.3em;
  float: right;
  margin-left: .5em; }

.radio .cr {
  border-radius: 50%; }

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  right: 20%; }

.radio .cr .cr-icon {
  margin-right: 0em; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.btn-success {
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 1em !important;
  font-family: "Cairo-Bold" !important;
  float: left !important;
  margin-right: 1em !important;
  color: #f9b5c7 !important; }
  .btn-success:hover {
    background: transparent !important;
    border: none !important;
    color: #000 !important; }

.btn-default:hover {
  color: #fff !important; }

.information .content {
  min-height: initial !important; }
  .information .content .btn {
    float: right !important;
    margin: 0 !important;
    margin-left: 1em !important; }

.wishlist h5 {
  margin-bottom: 1em; }

.owl-carousel {
  direction: ltr; }

.sold {
  color: #fff;
  background: #f1b46f;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 5px; }

/*# sourceMappingURL=style_ar.css.map */
