@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: 'Cairo-Bold';
  src: url('../fonts/Cairo-Bold.ttf');
}

$main-font: 'Cairo';
$second-font: 'Cairo-Bold';
$first-color: #27a9e1;
$second-color: #f1b46f;
$third-color: #f4f4f4;

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #27a9e1;
  }
  &:focus {
    text-decoration: none;
    color: #27a9e1;
  }
  &:visited {
    text-decoration: none;
    color: #27a9e1;
  }
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
}
button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: $main-font;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 0;
  outline-offset: 0;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
  border-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 4px solid #ccc;
  z-index: 99999999999999999999;
  &.items {
    min-width: 500px;
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    a{
      color: #000;
      &:hover p{
        color: #f9b5c7;
      }
    }
    .allItems{
      max-height: 300px;
      overflow-y: scroll;
    }
    img {
      margin-left: 1em;
    }
    h4{
      text-align: center !important;
      margin-top: 1em;
    }
    .col-xs-12{
      margin-bottom: 1em;
      text-align: right;
      h4{
        text-align: right !important;
        margin-top: 0;
      }
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      text-transform: uppercase;
      color: #000;
      &:hover {
        background: #000;
      }
    }
  }
  h3{
    margin-top: 0;
    margin-bottom: 2em;
  }
  li{
    padding: 5px 15px;
    text-transform: capitalize;
    span{
      background: #f9b5c7;
      color: #000;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
    }
    b{
      font-family: $second-font;
    }
    a{
      padding: 0;
      &:hover{
        color: #f9b5c7;
        text-decoration: none;
        background-color: transparent;
      }
      &:focus{
        color: #f9b5c7;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
// menu style -----------------------------------------------------
.menu {
  //overflow: hidden;
  //margin-bottom: 3em;
  .col-xs-12 {
    padding: 0;
  }
  .navbar {
    border-radius: 0;
    margin: 0;
    li.active a {
      color: $third-color;
    }
    .navbar-toggle {
      position: relative;
      float: left;
      padding: 9px 10px;
      margin-top: 8px;
      margin-left: 15px;
      margin-bottom: 8px;
      background-color: $third-color;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    .navbar-brand {
      display: none;
      float: right;
      height: 50px;
      padding: 15px 15px;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
    }
    .nav > li > a {
      color: #126488;
      text-transform: uppercase;
      &:hover {
        color: $third-color;
        background: transparent;
      }
    }
  }
  .menu {
    @extend .navbar;
    background-color: $first-color;
    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: $first-color;
    }
  }
  .category {
    @extend .navbar;
    background-color: $second-color;
    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: $second-color;
    }
    form {
      .input-group {
        border-bottom: 1px solid #126488;
      }
      .form-control {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
      .btn {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
  .logo {
    text-align: center;
    background: #fff;
    box-shadow: 1px -3px 3px 0px #999;
    z-index: 99999;
    position: relative;
    min-height: 107px;
    display: flex;
    align-items: center;
    img {
      width: 35%;
      margin: auto;
    }
  }
}

// mainCategory style -----------------------------------------------------
.mainCategory {
  margin-top: 3em;
  .content {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1em;
    overflow: hidden;
  }
  .offers .col-md-4 {
    margin: 1em 0;
  }
  .offers .col-md-4:nth-child(2) {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
  }
  .col-md-4 {
    padding: 0;
  }
  .col-md-6 {
    padding: 0;
  }
  .txt1 {
    width: 40%;
    position: absolute;
    right: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999;
  }
  .txt2 {
    width: 100%;
    position: absolute;
    left: 0em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999;
  }
  .txt3 {
    width: 40%;
    position: absolute;
    left: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999;
  }
  .txt4 {
    width: 100%;
    position: absolute;
    right: 0em;
    text-transform: uppercase;
    top: 2em;
    z-index: 9999999;
    h1 {
      color: #126488;
    }
  }
  .txt5 {
    width: 40%;
    position: absolute;
    right: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999;
  }
  .imgContent {
    position: relative;
    overflow: hidden;
    & img {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 100%;
    }
    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    h4 {
      position: relative;
      overflow: hidden;
      padding-bottom: 15px;
      display: inline-block;
      color: #000;
      &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 30%;
        height: 2px;
        width: 40%;
        background: #000;
      }
    }

  }
  h1 {
    margin: 0;
    color: #fff;
    font-family: $second-font;
  }
  h3 {
    color: #000;
    text-transform: uppercase;
    font-family: $second-font;
    font-size: 20px;
    &:hover {
      color: #27a9e1;
    }
  }
  p {
    color: #888;
  }
}

// deal style -----------------------------------------------------
.deal {
  margin-bottom: 2em;
  margin-top: 3em;
  h1 {
    font-family: $second-font;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #e2e2e2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 40%;
      height: 2px;
      width: 20%;
      background: $second-color;
    }
  }
  .product {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    .productImg {
      width: 100%;
      height: 300px;
      background: #f4f4f4;
      color: #000;
      overflow: hidden;
      position: relative;
      padding-top: 3em;
      img {
        display: block;
        margin: auto;
        max-width: 12em;
        min-height: 12em;
        max-height: 12em;
      }
      p {
        font-style: italic;
        font-family: $second-font;
      }
      .salary {
        background: $second-color;
        height: 6em;
        width: 6em;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-clip-path: polygon(0 0, 0 100em, 6em 0);
        clip-path: polygon(0 0, 0 6em, 6em 0);
        p {
          font-family: "Cairo-Bold";
          color: #fff;
          width: 50%;
          margin-top: 8%;
          font-style: normal;
          float: left;
        }
      }
    }
    h3 {
      font-family: $second-font;
      color: #000;
      text-transform: capitalize;
    }
    del {
      color: #ddd;
      font-weight: bold;
      margin-left: 1em;
      font-family: $second-font;
      font-size: 20px;
      text-transform: uppercase;
    }
    span {
      color: $first-color;
      font-weight: bold;
      font-family: $second-font;
      font-size: 20px;
      text-transform: uppercase;
    }
    &:hover {
      box-shadow: 0px 5px 15px -2px #999;
    }
    &:hover h3 {
      color: $second-color;
    }
  }
  .owl-carousel {
    .owl-next {
      position: absolute;
      right: -4%;
      top: 37%;
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      background: transparent;
      color: #000;
      border: 1px solid #000;
      border-radius: 0;
      i {
        margin: auto;
      }
      &:hover {
        background: #000;
      }
    }
    .owl-prev {
      position: absolute;
      left: -4%;
      top: 37%;
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      background: transparent;
      color: #000;
      border: 1px solid #000;
      border-radius: 0;
      i {
        margin: auto;
      }
      &:hover {
        background: #000;
      }
    }
  }
  &.brandDetails {
    .result {
      border: 2px solid #e4e4e4;
      padding: 2em;
      h4 {
        text-transform: uppercase;
      }
      .resultCategory {
        margin-top: 2em;
        text-align: right;
        h5 {
          font-weight: bold;
          font-size: 1.2em;
          text-transform: capitalize;
        }
        a {
          p {
            color: #999;
          }
          &:hover {
            p {
              color: $first-color;
            }
          }
        }
      }
    }
    .product {
      margin-left: 0;
      margin-right: 0;
    }
    .content {
      margin-top: 2em;
      .pagination > li > a, .pagination > li > span {
        position: relative;
        float: right;
        padding: 6px 12px;
        margin-right: 5px !important;
        line-height: 1.42857143;
        color: #428bca;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 0;
        color: #e2e2e2;
      }
      .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #999;
        border-color: #999;
      }
    }
    .text-right {
      h3 {
        margin-top: 10px;
      }
      p {
        color: #999;
      }
    }
  }
}

// brands style -----------------------------------------------------
.brands {
  margin-bottom: 2em;
  margin-top: 3em;
  .mobile_select {
    display: none;
  }

  .pc_select {
    border-bottom: 1px solid #e2e2e2;
  }
  #portfolio {
    margin: 1rem 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    .overlay {
      background: $second-color;
      position: absolute;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex !important;
      align-items: center;
      bottom: -100%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      p {
        margin: auto;
        font-size: 1.5em;
      }
    }
    &:hover .overlay {
      bottom: 0;
    }
  }
  .scale-anm {
    transform: scale(1);
  }
  .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .btn {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid transparent;
  }
  .btn:hover {
    text-decoration: none;
    color: $first-color;
    border-bottom: 2px solid $first-color;
    box-shadow: none;
  }
  .btn.active {
    outline: none;
    color: $first-color;
    border-bottom: 2px solid $first-color;
    box-shadow: none;
  }
  .btn:focus {
    outline: none;
    color: $first-color;
    border-bottom: 2px solid $first-color;
    box-shadow: none;
  }
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  h1 {
    font-family: $second-font;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    display: inline-block;
    color: #000;
    border-bottom: 1px solid #e2e2e2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 40%;
      height: 2px;
      width: 20%;
      background: $second-color;
    }
  }
  .btn-warning {
    color: $second-color;
    border: none;
    border-bottom: 2px solid $second-color;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
}

// productDetails style -----------------------------------------------------
.productDetails {
  margin-bottom: 5em;
  margin-top: 3em;
  .detail-caption {
    img {
      width: 100%;
      height: 400px;
      object-fit: contain;
      object-position: center;
      background: #f4f4f4;
    }
  }
  .allPic {
    margin-top: 2em;
    img {
      width: 100%;
      height: 80px;
      margin-bottom: 1em;
      opacity: 0.5;
      &.active {
        border: 2px solid $second-color;
        opacity: 1;
      }
    }
  }
  h1 {
    margin-top: 0;
    text-transform: capitalize;
  }
  h4 {
    color: #999;
    text-transform: uppercase;
  }
  h2 {
    span {
      color: $first-color;
      margin-left: 1em;
    }
    del {
      color: #999;
      font-size: 18px;
      margin-left: 1em;
    }
    b {
      background: $second-color;
      padding: 2px 5px;
      color: #fff;
      font-size: 16px;
    }
  }
  p {
    b {
      font-family: $second-font;
    }
  }
  select {
    margin-bottom: 1em;
    &.form-control {
      border-radius: 0;
      padding: 0 10px;
    }
  }
  .about {
    position: relative;
    top: 5px;
  }
  .input-group-addon:first-child {
    border-left: 0;
    background: transparent;
    border: none;
    text-transform: capitalize;
  }
  .input-group .form-control:last-child {
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
  }
  .btn-warning {
    background: $second-color;
    border-color: $second-color;
    margin-top: 1em;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase;
    &:hover {
      background: $first-color;
      border-color: $first-color;
    }
  }

}

// error style -----------------------------------------------------
.error {
  margin-top: 3em;
  h1 {
    color: $second-color;
    font-family: $second-font;
    font-size: 10em;
    margin-bottom: 0;
  }
  h2 {
    color: #e45fcd;
    font-family: $second-font;
    text-transform: uppercase;
    margin-top: 0;
  }
  hr {
    width: 15%;
  }
  p {
    text-transform: capitalize;
  }
  .btn {
    background: #000;
    border-radius: 0;
    color: #fff;
    border-color: #000;
    margin-top: 2em;
    text-transform: uppercase;
    &:hover {
      background: $second-color;
      border-radius: 0;
      color: #fff;
      border-color: $second-color;
    }
  }
}

// about style -----------------------------------------------------
.about {
  margin-top: 3em;
  .container {
    .row {
      &:last-child {
        margin-top: 3em;
      }
    }
  }
  h3 {
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: $second-font;
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50%;
      background: #000;
      right: 0;
      bottom: 0;
    }
  }
  h5 {
    line-height: 1.5em;
    font-weight: bold;
    font-family: $second-font;
    margin-top: 0;
  }
  .details {
    padding: 2em;
    border: 3px solid #e2e2e2;
  }
}

// contact style -----------------------------------------------------
.contact {
  margin-top: 3em;
  .details {
    padding: 2em;
    border: 1px solid #e2e2e2;
    margin-bottom: 2em;
    h4{
      text-align: center;
      margin-bottom: 1em;
    }
  }
  h1 {
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-family: $second-font;
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 40%;
      background: #000;
      right: 30%;
      bottom: 0;
    }
  }
  label {
    text-transform: uppercase;
  }
  input {
    height: 40px;
  }
  .form-control {
    border-radius: 0;
    border-color: #e2e2e2;
    box-shadow: none;
  }
  .btn {
    background: #000;
    border-radius: 0;
    color: #fff;
    border-color: #000;
    margin-top: 0em;
    text-transform: uppercase;
    padding: 10px 40px;
    &:hover {
      background: $second-color;
      border-radius: 0;
      color: #fff;
      border-color: $second-color;
    }
  }
}

// confirm style -----------------------------------------------------
.confirm {
  margin-top: 3em;
  h1 {
    font-family: $second-font;
    font-size: 2em;
    text-transform: uppercase;
  }
  .content {
    background: #eff5f9;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 2em;
    h4 {
      font-family: $second-font;
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      &:hover {
        background: #000;
        color: #fff !important;
      }
    }
  }
}

// cart style -----------------------------------------------------
.cart {
  margin-top: 3em;
  .form-control{
    text-transform: capitalize;
  }
  h1 {
    font-family: $second-font;
    font-size: 2em;
    text-transform: uppercase;
  }
  .content {
    background: #f4f4f4;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    &.cart_table{
      padding: 0 0 2em 0 !important;
      p{
        text-align: center;
        &.payTitle{
          margin-right: 0 !important;
        }
      }
      .row{
        p{
          text-align: right !important;
        }
        .col-md-8{
          padding-right: 15px;
        }
      }
      table{
        width: 100%;
        text-align: center;
        img{
          width: 100px;
          margin-bottom: 1em;
        }
        thead{
          th{
            text-transform: uppercase;
            font-family: $second-font;
            border: 3px solid #fff;
            border-top: none;
            padding: 1em;
            background: #e9e9e9;
            text-align: center;

            &:first-child{
              border-right: none;
            }
            &:last-child{
              border-left: none;
            }
          }
        }
        tbody{
          td{
            text-transform: uppercase;
            font-family: $second-font;
            border: 3px solid #fff;
            padding: 1em;
            &:first-child{
              border-right: none;
            }
            &:last-child{
              border-left: none;
            }
            .productType{
              font-family: $main-font;
              text-transform: capitalize;
              color: #999;
            }
            &[colspan="2"]{
              border: none;
              padding: 0.5em 1em;
              p{
                text-align: right !important;
              }
            }
          }
        }
      }
    }

    .statistics{
      margin-top: 1em;
      border-bottom: 2px solid #000;
      margin-bottom: 1em;
      .row{
        .col-md-8{
          padding-right: 15px;
        }
        p{
          text-align: right !important;
          margin-bottom: 5px;

        }
      }

    }
    .form-group {
      text-align: right;
      .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none;
      }
      label {
        font-size: 10px;
      }
    }
    .col-md-8 {
      padding-right: 0;
    }
    p {
      text-align: right;
      font-family: $second-font;
      margin-bottom: 0;
      &.title{
        font-family: $main-font;
        text-transform: capitalize;
        color: #999;
        margin-bottom: 1em;
      }
      &.payTitle{
        font-family: $main-font;
        text-transform: capitalize;
        color: #999;
        margin-top: 0.5em;
        margin-bottom: 1em;
        margin-right: 2em;
        text-align: right;
      }
      &.txt {
        font-style: italic;
        margin-bottom: 10px;
      }
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      float: left;
      &:hover {
        background: #000;
      }
    }
    .btn-default{
      margin-left: 2em;
    }
    .btn-success{
      background: #99c98a;
      border: 2px solid #99c98a;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      float: left;
      &:hover {
        background: #79aa6a;
        border: 2px solid #79aa6a;
        color: #fff !important;
      }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// register style -----------------------------------------------------
.register, .information{
  margin-top: 3em;
  .form-control{
    text-transform: capitalize;
  }
  h1 {
    font-family: $second-font;
    font-size: 2em;
    text-transform: uppercase;
  }
  .content {
    background: #f4f4f4;
    padding: 2em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    .checkbox {
      label{
        font-family: $second-font !important;
      }
      p{
        font-family: $main-font;
        font-size: 12px;
        color: #999;
        margin-right: 2em;
      }
    }
    .form-group {
      text-align: right;
      .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none;
      }
      label {
        font-size: 10px;
      }
    }
    p {
      text-align: right;
      font-family: $second-font;
      margin-bottom: 1em;
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      float: left;
      &:hover {
        background: #000;
      }
    }
  }
}

// login style -----------------------------------------------------
.login {
  margin-top: 3em;
  .form-control{
    text-transform: capitalize;
  }
  h1 {
    font-family: $second-font;
    font-size: 2em;
    text-transform: uppercase;
  }
  .content {
    text-align: center;
    background: #f4f4f4;
    padding: 2em 4em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    min-height: 410px;
    a{
      color: #000;
      &:hover{
        color: $first-color;
      }
      p{
        border-bottom: 1px solid #000;
        display: inline-block;
      }
    }
    .checkbox {
      label{
        font-family: $second-font !important;
      }
      p{
        font-family: $main-font;
        font-size: 12px;
        color: #999;
        margin-right: 2em;
      }
    }
    .form-group {
      text-align: right;
      .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none;
      }
      label {
        font-size: 10px;
      }
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      text-transform: uppercase;
      &:hover {
        background: #000;
      }
    }
  }

}

// account style -----------------------------------------------------
.account {
  margin-top: 3em;
  .navbar-default{
    background: transparent;
    border:none;
    margin-top: 2em;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: transparent;
    border-top:3px solid #000;
  }
  .navbar-default a{
    color: #000;
    background-color: transparent;
    border-top:3px solid #fff;
    font-family: $second-font;
    text-transform: uppercase;
  }
  text-align: center;
  .form-control{
    text-transform: capitalize;
  }
  h1 {
    font-family: $second-font;
    font-size: 1.8em;
    text-transform: uppercase;
    &.title{
      margin-bottom: 2em;
    }
  }
  h3 {
    font-family: $second-font;
    text-transform: uppercase;
  }
  h4 {
    font-family: $main-font;
    text-transform: capitalize;
    margin-bottom: 2em;
  }
  h5 {
    font-family: $second-font;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .row{
    h5{
      margin-top: 0;
    }
  }
  b{
    font-family: $second-font;
    text-transform: uppercase;
  }
  .content {
    text-align: right;
    background: #f4f4f4;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    min-height: 410px;
    a{
      color: #000;
      &:hover{
        color: $first-color;
      }
    }
    .checkbox {
      label{
        font-family: $second-font !important;
      }
      p{
        font-family: $main-font;
        font-size: 12px;
        color: #999;
        margin-right: 2em;
      }
    }
    .form-group {
      text-align: right;
      .form-control {
        border: 2px solid #000;
        background: transparent;
        border-radius: 0;
        height: 40px;
        box-shadow: none;
      }
      label {
        font-size: 10px;
      }
    }
    .btn {
      border: 2px solid #000;
      background: transparent;
      border-radius: 0;
      margin-top: 1em;
      font-family: $second-font;
      text-transform: uppercase;
      &:hover {
        background: #000;
      }
    }
  }

}

// footer style -----------------------------------------------------
footer {
  margin-top: 5em;
  .logo-footer {
    text-align: center;
    margin-bottom: 2em;
  }
  .content {
    padding: 3em 0;
    background: $first-color;
    color: #fff;
    position: relative;
    overflow: hidden;
    .arrowTop {
      i {
        background: #1b86b4;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: $first-color;
        font-size: 1.5em;
        position: absolute;
        left: 7em;
        top: 0;
        &:hover {
          background: $second-color;
        }
      }
    }
    .text-center img {
      margin-bottom: 2em;
    }
    nav a {
      color: #fff;
      &:hover {
        color: $second-color;
      }
    }
    .input-group-addon:first-child {
      border-left: 0;
      background: #d4eef9;
      border: none;
    }
    .input-group .form-control {
      position: relative;
      z-index: 2;
      float: right;
      width: 100%;
      margin-bottom: 0;
      background: #d4eef9;
      border: none;
      box-shadow: none;
    }
    .input-group-btn > .btn {
      position: relative;
      background: $second-color;
      border: none;
      box-shadow: none;
      color: #fff;
      margin: 0;
      height: 34px;
      &:hover {
        background: #1b86b4;
      }
    }
  }
  .copyright {
    background: #1b86b4;
    padding: 0.8em;
    p {
      margin: 0;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

// media style -----------------------------------------------------
@media (max-width: 768px) {
  .dropdown-menu {
    min-width: 160px !important;
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
  }
  .mobile_select {
    display: block !important;
    .btn {
      width: 100%;
      border: none;
      border-bottom: none;
      background: $first-color;
      color: #fff;
      border-radius: 0;
      &:hover {
        background: $second-color;
        color: #fff;
        border: none;
      }
      &:focus {
        background: $second-color;
        color: #fff;
        border: none;
      }
    }
    .dropdown-menu {
      border-radius: 0;
      margin-top: 40px;
      .btn {
        width: 25% !important;
        float: right;
        border: none;
        border-bottom: none;
        background: #fff;
        border-radius: 0;
        color: #000;
        &:hover {
          color: $first-color;
        }
      }
    }
  }
  .pc_select {
    display: none;
  }
  .logo img {
    width: 15% !important;
    margin: auto;
  }
  .navbar-brand {
    display: block !important;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  #portfolio {
    margin: 6rem 0 !important;
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .productDetails {
    .form-control {
      margin-top: 10px;
    }
    .btn-default {
      margin-top: 1em;
    }
    .about {
      position: relative;
      top: -5px;
    }
  }
  footer .col-xs-12 {
    margin-bottom: 3em;
    text-align: right;
    &:last-child {
      margin-bottom: 0;
    }
  }
  footer .content .arrowTop i {
    background: #1b86b4;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #27a9e1;
    font-size: 1.5em;
    position: absolute;
    left: 1em;
    top: 0;
  }
}

@media (max-width: 460px) {
  .mainCategory .txt1 {
    width: 50%;
    position: absolute;
    left: 2em;
    text-transform: uppercase;
    bottom: 4em;
    z-index: 9999999;
  }
  #portfolio {
    margin: 1rem 0;
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
}

.checkbox{
  text-align: right;
  label{
    padding-right: 0;
  }
}
.radio {
  text-align: right;
  label{
    padding-right: 0;
    font-family: $second-font;
  }
}
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}
h4{
  text-align: right;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: $second-font;
  span{
    background: #f4b5c8;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
}
.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 0;
  width: 1.3em;
  height: 1.3em;
  float: right;
  margin-left: .5em;
}
.radio .cr {
  border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  right: 20%;
}
.radio .cr .cr-icon {
  margin-right: 0em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.btn-success{
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 1em !important;
  font-family: $second-font !important;
  float: left !important;
  margin-right: 1em !important;
  color: #f9b5c7 !important;
  &:hover {
    background: transparent !important;
    border: none !important;
    color: #000 !important;
  }
}

.btn-default{
  &:hover {
    color: #fff !important;
  }
}

.information{
  .content{
    min-height: initial !important;
    .btn{
      float: right !important;
      margin: 0 !important;
      margin-left: 1em !important;
    }
  }
}

.wishlist{
  h5{
    margin-bottom: 1em;
  }
}

.owl-carousel{
  direction: ltr;
}



.sold{
  color: #fff;
  background: $second-color;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 5px;
}